.board-inner {padding: 50px 40px;}
.board-nav {position: relative;width: 120px;float: left;}
.nav-scroll {position: relative;top: 0;width: 110px;height: 370px;overflow: visible;border-right: 1px solid #3C3B39;}
.bd-nav-list {margin: 0;padding: 0;width: 114px;}
.bd-nav-list li {padding-bottom: 20px;}
.bd-nav-list li a {font-size: 18px;color:#8F8F8F;text-decoration: none;}
.bd-nav-list li a:hover {text-decoration: underline;color:#3C3B39;
-webkit-transition: color 0.5s;
-o-transition: color 0.5s;
transition: color 0.5s;
}
.bd-nav-list li.nav-curr a {color:#3C3B39;}
.bd-nav-list li.nav-curr {background: url(http://www.turningbrand.com/image/nav-rail.gif) right top no-repeat;}

.board-content {float: right;width: 750px;
    background-color: #DFDEDE;
    -webkit-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    transition: background-color 0.25s;
}
.board-content.cur-l {
    cursor: url('http://www.turningbrand.com/image/cur-l.png'), auto;
}
.board-content.cur-r {
    cursor: url('http://www.turningbrand.com/image/cur-r.png'), auto;
}