@charset "utf-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
.left{float:left}
.right{float:right}
.block{display:block}
.inline{display:inline}
.inline-block{display:inline-block;*zoom:1;*display:inline}
.none,[hidden]{display:none}
.font-ultra-bold{font-weight:900}
.font-bold{font-weight:700}
.font-normal{font-weight:500}
.font-light{font-weight:300}
.font-thin{font-weight:100}
.font-normal{font-style:normal}
.capitalize{text-transform:capitalize}
.uppercase{text-transform:uppercase}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;overflow:hidden;padding:0;position:absolute;width:1px;left:-9999em}
.image-left{margin-right:20px}
.image-right{margin-left:20}
.clear:before,.clear:after{content:"";display:table}
.clear:after{clear:both}
.clear{zoom:1}
.container{margin-left:auto;margin-right:auto}
html{overflow:hidden}
body{background-color:#fff;font:14px/1.5 Tahoma,Arial,"微软雅黑","华文细黑","黑体","宋体",sans-serif}
.body{position:relative;background-color:#fff}
.bd-container{width:980px}
.hd{height:230px}
.hd-top{text-align:center}
.hd-top .logo{width:217px;border-top:18px solid #3e3a39;padding:43px 0}
.hd-top .logo a{display:inline-block;*display:inline;*zoom:1;margin:0;padding:0;height:65px;overflow:hidden;line-height:1}
.hd-top .logo img{height:65px}
.board{height:464px;background-color:#dfdede}
.hd-nav{height:35px}
.hd-nav .nav-bd{text-align:center;position:relative;border-top:2px solid #8f8f8f}
.hd-nav .nav-list{position:relative;top:-14px;width:690px;margin:0 auto;background-color:#fff}
.hd-nav .nav-list li{float:left;display:inline;width:25%;*width:172px}
.hd-nav .nav-list li a{position:relative;width:auto;height:1.5em;overflow:hidden;display:block;font-size:18px;color:#a5a5a5;text-decoration:none;cursor:pointer}
.hd-nav .nav-list li a span{position:relative;display:block;height:1.5em;top:0;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
.hd-nav .nav-list li a:hover span,.hd-nav .nav-list li a:focus span,.hd-nav .nav-list li.nav-curr a span{color:#3d3a39;top:-1.5em}
.hd-nav .nav-list li.nav-curr a{cursor:default}
.copyright{text-align:center;padding:20px 0 5px 0;color:#a5a5a5}
.board-inner{padding:50px 40px}
.board-nav{position:relative;width:120px;float:left}
.nav-scroll{position:relative;top:0;width:110px;height:370px;overflow:visible;border-right:1px solid #3c3b39}
.bd-nav-list{margin:0;padding:0;width:114px}
.bd-nav-list li{padding-bottom:20px}
.bd-nav-list li a{font-size:18px;color:#8f8f8f;text-decoration:none}
.bd-nav-list li a:hover{text-decoration:underline;color:#3c3b39;-webkit-transition:color .5s;-o-transition:color .5s;transition:color .5s}
.bd-nav-list li.nav-curr a{color:#3c3b39}
.bd-nav-list li.nav-curr{background:url(http://www.turningbrand.com/image/nav-rail.gif) right top no-repeat}
.board-content{float:right;width:750px;background-color:#dfdede;-webkit-transition:background-color .25s;-o-transition:background-color .25s;transition:background-color .25s}
.board-content.cur-l{cursor:url('http://www.turningbrand.com/image/cur-l.png'),auto}
.board-content.cur-r{cursor:url('http://www.turningbrand.com/image/cur-r.png'),auto}
#sliderFrame,#sliderFrame div{box-sizing:content-box}
#sliderFrame{position:relative;width:740px;margin:0 auto;height:370px}
#slider,#slider div.sliderInner{width:740px;height:336px}
#slider{top:36px;background:#fff url(http://www.turningbrand.com/image/loading.gif) no-repeat 50% 50%;position:relative;transform:translate3d(0,0,0)}
#slider a.imgLink,#slider .video{z-index:2;cursor:pointer;position:absolute;top:0;left:0;border:0;padding:0;margin:0;width:100%;height:100%}
#slider a.video{background:transparent url(http://www.turningbrand.com/image/video.png) no-repeat 50% 50%}
#slider div.mc-caption-bg,#slider div.mc-caption-bg2{position:absolute;width:740px;height:auto;padding:10px 0;left:0;top:-36px;z-index:3;overflow:hidden;font-size:0}
#slider div.mc-caption-bg2{background:0}
#slider div.mc-caption{font:bold 12px Arial;color:#fff;z-index:4;text-align:left;padding-left:1em;background:0}
#slider div.mc-caption a{color:#FB0}
#slider div.mc-caption a:hover{color:#DA0}
#slider div.navBulletsWrapper{top:-24px;text-align:right;background:0;font-size:0;position:relative;z-index:5}
#slider div.navBulletsWrapper div{position:relative;width:10px;height:10px;display:inline-block;*display:inline;zoom:1;overflow:hidden;cursor:pointer;margin:0 9px;right:15px}
#slider div.loading{width:100%;height:100%;background:transparent url(http://www.turningbrand.com/image/loading.gif) no-repeat 50% 50%;filter:alpha(opacity=60);opacity:.6;position:absolute;left:0;top:0;z-index:9}
#slider img,#slider>b,#slider a>b{position:absolute;border:0;display:none}
#slider div.sliderInner{overflow:hidden;-webkit-transform:rotate(0.000001deg);position:absolute;top:0;left:0}
#slider>a,#slider video,#slider audio{display:none}
#sliderFrame .arrow{position:absolute;top:50%;left:10px;width:50px;height:50px;cursor:pointer;opacity:.5;filter:alpha(opacity=50);background:url(http://www.turningbrand.com/image/arrow-c.png) 0 0 no-repeat}
#sliderFrame .arrow:hover{opacity:1;filter:alpha(opacity=100)}
#sliderFrame .arrow-r{left:auto;right:10px;background-position:-50px 0}
@media screen,projection{.imageflow{overflow:hidden;position:relative;text-align:left;visibility:hidden;width:100%;color:#fff}
.imageflow .img-item{position:absolute;top:0;visibility:hidden}
.imageflow img{position:absolute;border:0;-ms-interpolation-mode:bicubic}
.imageflow p{margin:0 auto;text-align:center}
.imageflow .loading{border:1px solid white;height:15px;left:50%;margin-left:-106px;padding:5px;position:relative;visibility:visible;width:200px}
.imageflow .loading_bar{background:#fff;height:15px;visibility:visible;width:1%}
.imageflow .navigation{z-index:10000}
.imageflow .caption{font-weight:bold;position:relative;text-align:center;z-index:10001;top:-270px}
.imageflow .scrollbar{border-bottom:1px solid #b3b3b3;position:relative;visibility:hidden;z-index:10002;height:1px}
.imageflow .slider{background:url(/image/slider.png) no-repeat;height:14px;margin:-6px 0 0 -7px;position:absolute;width:14px;z-index:10003}
.imageflow .slideshow{cursor:pointer;height:14px;margin:20px 0 0 20px;position:absolute;width:14px;z-index:10003}
.imageflow .slideshow.pause{background:url(/image/button_pause.png) no-repeat}
.imageflow .slideshow.play{background:url(/image/button_play.png) no-repeat}
.imageflow .images{overflow:hidden;white-space:nowrap}
.imageflow .button{cursor:pointer;height:17px;position:relative;width:17px}
.imageflow .previous{background:url(/image/button_left.png) top left no-repeat;float:left;margin:-7px 0 0 -30px}
.imageflow .next{background:url(/image/button_right.png) top left no-repeat;float:right;margin:-7px -30px 0 30px}
.imageflow .img-item .reflection{position:absolute;width:100%;height:100%;top:100%;background-color:#000}
.imageflow .img-item .reflection .flip{position:absolute;width:100%;height:100%;top:0;left:0;-webkit-transform:scaleY(-1);-moz-transform:scaleY(-1);-ms-transform:scaleY(-1);-o-transform:scaleY(-1);transform:scaleY(-1);filter:flipv;opacity:.20;filter:alpha(opacity='20')}
.imageflow .overlay{position:absolute;top:0;left:0;width:100%;height:110%;background-image:-moz-linear-gradient(center bottom,#000 60%,rgba(0,0,0,0) 75%);background-image:-o-linear-gradient(rgba(0,0,0,0) 25%,#000 40%);background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.60,#000),color-stop(0.75,rgba(0,0,0,0)));-ms-filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColor=0,EndColorStr=#000000);filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColor=0,EndColorStr=#000000)}
}
.tooltip{text-decoration:none;border-bottom:1px dotted #36c;color:#36c;outline:0}
div#mcTooltip{line-height:16px;border-width:1px;color:#eee;border-color:transparent;padding:5px;font-size:12px;font-family:Verdana,Arial;border-radius:2px;background-color:rgba(0,0,0,0.5);box-shadow:none}
div#mcTooltip,div.mcTooltipInner{background-color:none}
div#mcTooltip a{color:#9cf}
div#mcttCloseButton{width:14px;height:14px;position:absolute;background-image:url(http://www.turningbrand.com/image/closeBtn.gif);cursor:pointer;overflow:hidden;top:12px;right:12px;left:auto}
div#mcOverlay{background-color:white;opacity:.8;filter:alpha(opacity=80);display:none;top:0;left:0;width:100%;height:100%;overflow:visible;z-index:4}
div#tooltipAjaxSpin{margin:20px 50px;background:transparent url(http://www.turningbrand.com/image/loading.gif) no-repeat center center;width:50px;height:30px;font-size:0}
div#mcTooltipWrapper{position:absolute;visibility:hidden;overflow:visible;z-index:9999999999;top:0}
div#mcTooltip{float:left;border-style:solid;position:relative;overflow:hidden}
div.mcTooltipInner{float:left;position:relative;width:auto;height:auto}
div#mcttCo{position:absolute;text-align:left}
div#mcttCo em,div#mcttCo b{display:block;width:0;height:0;overflow:hidden}
div#mcTooltip,div#mcTooltip div{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
img{vertical-align:middle;border:0}
.business-cont{position:relative;width:740px;background-color:#3e3a39}
.business-lb{position:relative;width:740px;height:340px}
.board-content .popup-bg,.business-lb img{width:740px;height:330px}
.board-content .popup-bg{position:absolute;background-color:#dfdede;-webkit-transition:all .5s;-o-transition:all .5s;transition:all .5s}
.board-content.board-popup .popup-bg{position:fixed;width:100%;height:100%;top:0;left:0;background-color:rgba(0,0,0,0.95)}
.board-popup #sliderFrame{background-color:#dfdede;height:410px}
#sliderFrame{position:relative;margin:0;left:10px;-webkit-transition:margin .5s,height .5s;-o-transition:margin .5s,height .5s;transition:margin .5s,height .5s}
#sliderFrame .arrow{position:absolute;z-index:999;top:50%;left:10px;width:50px;height:50px;cursor:pointer;opacity:.5;filter:alpha(opacity=50);background:url(http://www.turningbrand.com/image/arrow-c.png) 0 0 no-repeat}
#sliderFrame .arrow:hover{opacity:1;filter:alpha(opacity=100)}
#sliderFrame .arrow-r{left:auto;right:10px;background-position:-50px 0}
.board-popup #slider{box-shadow:none}
#slider .navBulletsWrapper{display:none}
body{position:relative}
.popup-wrapper{background-color:#000;position:absolute;_position:fixed;width:100%;height:100%;min-width:960px;min-height:100%;left:0;top:0;z-index:999}
.popup-wrapper .flow img.content{visibility:hidden}
.ContentFlow .flow .item canvas.content{background-color:#000}
.popup-wrapper .closer{position:fixed;top:0;right:0;width:40px;height:40px;text-align:center;font:normal normal 38px/1 sans-serif;border:1px solid #fff;border-width:0 0 1px 1px;color:#fff;cursor:pointer}
