.ContentFlow .flow .item canvas.content{height:100%;width:100%}
.ContentFlow .flow .item img.content{width:100%}
.ContentFlow .flow .item img.reflection,.ContentFlow .flow .item canvas.reflection{width:100%}
.ContentFlow .flow .item.active{cursor:pointer}
.ContentFlow .flow .item .caption{font-size:100%;font-weight:bold;text-align:center;color:white;max-height:30%;bottom:10%;background:url(/image/1x1_0.5_black.png);width:100%}
* html .ContentFlow .flow .item .caption{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/image/1x1_0.5_black.png')}
.ContentFlow .flow .item .caption a,.ContentFlow .flow .item .caption a:link,.ContentFlow .flow .item .caption a:visited,.ContentFlow .flow .item .caption a:active,.ContentFlow .flow .item .caption a:hover{text-decoration:none;color:white;font-style:italic;font-size:.8em}
.ContentFlow .flow .item .caption a:hover{text-decoration:underline}
.ContentFlow .scrollbar{width:50%;margin:0 auto;margin-top:50px;height:16px;background:url(/image/scrollbar_white.png) left center repeat-x;position:relative;overflow:visible}
.ContentFlow .scrollbar .slider{width:16px;height:16px;background:url(/image/slider_white.png) center center no-repeat;cursor:move}
* html .ContentFlow .scrollbar .slider{background-image:none}
* html .ContentFlow .scrollbar .slider .virtualSlider{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='/image/slider_white.png')}
.ContentFlow .scrollbar .slider .position{top:120%;font-size:16px;font-weight:bold;color:silver}
.ContentFlow .globalCaption{text-align:center;font-weight:bold;color:white;font-size:14px;height:20px;margin:2em auto}
.ContentFlow .globalCaption .caption a,.ContentFlow .globalCaption .caption a:link,.ContentFlow .globalCaption .caption a:visited,.ContentFlow .globalCaption .caption a:active,.ContentFlow .globalCaption .caption a:hover{text-decoration:none;color:white;font-style:italic;font-size:.8em}
.ContentFlow .globalCaption .caption a:hover{text-decoration:underline}
.ContentFlow .loadIndicator{width:100%;height:100%;top:0;left:0;background:black}
.ContentFlow .loadIndicator .indicator{background:url(/image/loader.gif) center center no-repeat;width:100%;height:100%}
* html .ContentFlow .loadIndicator .indicator{height:100px}
.ContentFlow{position:relative;overflow:hidden}
.ContentFlow *{margin:0;padding:0}
.ContentFlow img{-ms-interpolation-mode:bicubic}
.ContentFlow .mouseoverCheckElement{position:absolute;width:0;height:0;left:0;visibility:hidden}
.ContentFlow:hover .mouseoverCheckElement{left:1px}
.ContentFlow .flow{position:relative;z-index:0;visibility:hidden;width:100%;margin:0 auto}
.ContentFlow .flow.hidden{visibility:hidden}
.ContentFlow .flow .item{position:absolute;visibility:hidden;top:0;left:0}
.ContentFlow .flow .item .content{display:block}
.ContentFlow .flow .item div.content{width:100%;height:100%}
.ContentFlow .flow .item .label{display:none}
.ContentFlow .flow .item .reflection{display:block}
.ContentFlow .flow .item canvas.reflection{margin-top:-1px}
.ContentFlow .flow .item .caption{position:absolute;display:none}
.ContentFlow .scrollbar{position:relative;z-index:1;visibility:hidden}
.ContentFlow .scrollbar .slider{position:absolute}
* html .ContentFlow .scrollbar .slider .virtualSlider{height:100%}
.ContentFlow .scrollbar .slider .position{position:absolute;text-align:center}
.ContentFlow .globalCaption{position:relative;z-index:1}
.ContentFlow .loadIndicator{position:absolute;z-index:65000}
