html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
.left{float:left}
.right{float:right}
.block{display:block}
.inline{display:inline}
.inline-block{display:inline-block;*zoom:1;*display:inline}
.none,[hidden]{display:none}
.font-ultra-bold{font-weight:900}
.font-bold{font-weight:700}
.font-normal{font-weight:500}
.font-light{font-weight:300}
.font-thin{font-weight:100}
.font-normal{font-style:normal}
.capitalize{text-transform:capitalize}
.uppercase{text-transform:uppercase}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;overflow:hidden;padding:0;position:absolute;width:1px;left:-9999em}
.image-left{margin-right:20px}
.image-right{margin-left:20}
.clear:before,.clear:after{content:"";display:table}
.clear:after{clear:both}
.clear{zoom:1}
.container{margin-left:auto;margin-right:auto}
html{overflow:hidden}
body{background-color:#fff;font:14px/1.5 Tahoma,Arial,"微软雅黑","华文细黑","黑体","宋体",sans-serif}
.body{position:relative;background-color:#fff}
.bd-container{width:980px}
.hd{height:230px}
.hd-top{text-align:center}
.hd-top .logo{width:217px;border-top:18px solid #3e3a39;padding:43px 0}
.hd-top .logo a{display:inline-block;*display:inline;*zoom:1;margin:0;padding:0;height:65px;overflow:hidden;line-height:1}
.hd-top .logo img{height:65px}
.board{height:464px;background-color:#dfdede}
.hd-nav{height:35px}
.hd-nav .nav-bd{text-align:center;position:relative;border-top:2px solid #8f8f8f}
.hd-nav .nav-list{position:relative;top:-14px;width:690px;margin:0 auto;background-color:#fff}
.hd-nav .nav-list li{float:left;display:inline;width:25%;*width:172px}
.hd-nav .nav-list li a{position:relative;width:auto;height:1.5em;overflow:hidden;display:block;font-size:18px;color:#a5a5a5;text-decoration:none;cursor:pointer}
.hd-nav .nav-list li a span{position:relative;display:block;height:1.5em;top:0;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
.hd-nav .nav-list li a:hover span,.hd-nav .nav-list li a:focus span,.hd-nav .nav-list li.nav-curr a span{color:#3d3a39;top:-1.5em}
.hd-nav .nav-list li.nav-curr a{cursor:default}
.copyright{text-align:center;padding:20px 0 5px 0;color:#a5a5a5}
.board-inner{padding:50px 40px}
.board-nav{position:relative;width:120px;float:left}
.nav-scroll{position:relative;top:0;width:110px;height:370px;overflow:visible;border-right:1px solid #3c3b39}
.bd-nav-list{margin:0;padding:0;width:114px}
.bd-nav-list li{padding-bottom:20px}
.bd-nav-list li a{font-size:18px;color:#8f8f8f;text-decoration:none}
.bd-nav-list li a:hover{text-decoration:underline;color:#3c3b39;-webkit-transition:color .5s;-o-transition:color .5s;transition:color .5s}
.bd-nav-list li.nav-curr a{color:#3c3b39}
.bd-nav-list li.nav-curr{background:url(http://www.turningbrand.com/image/nav-rail.gif) right top no-repeat}
.board-content{float:right;width:750px;background-color:#dfdede;-webkit-transition:background-color .25s;-o-transition:background-color .25s;transition:background-color .25s}
.board-content.cur-l{cursor:url('http://www.turningbrand.com/image/cur-l.png'),auto}
.board-content.cur-r{cursor:url('http://www.turningbrand.com/image/cur-r.png'),auto}
.customers-list{padding-top:20px;overflow:hidden}
.customers-list li{float:left;width:33%;text-align:center;line-height:110px;height:130px}
