html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
.left{float:left}
.right{float:right}
.block{display:block}
.inline{display:inline}
.inline-block{display:inline-block;*zoom:1;*display:inline}
.none,[hidden]{display:none}
.font-ultra-bold{font-weight:900}
.font-bold{font-weight:700}
.font-normal{font-weight:500}
.font-light{font-weight:300}
.font-thin{font-weight:100}
.font-normal{font-style:normal}
.capitalize{text-transform:capitalize}
.uppercase{text-transform:uppercase}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;overflow:hidden;padding:0;position:absolute;width:1px;left:-9999em}
.image-left{margin-right:20px}
.image-right{margin-left:20}
.clear:before,.clear:after{content:"";display:table}
.clear:after{clear:both}
.clear{zoom:1}
.container{margin-left:auto;margin-right:auto}
html{overflow:hidden}
body{background-color:#fff;font:14px/1.5 Tahoma,Arial,"微软雅黑","华文细黑","黑体","宋体",sans-serif}
.body{position:relative;background-color:#fff}
.bd-container{width:980px}
.hd{height:230px}
.hd-top{text-align:center}
.hd-top .logo{width:217px;border-top:18px solid #3e3a39;padding:43px 0}
.hd-top .logo a{display:inline-block;*display:inline;*zoom:1;margin:0;padding:0;height:65px;overflow:hidden;line-height:1}
.hd-top .logo img{height:65px}
.board{height:464px;background-color:#dfdede}
.hd-nav{height:35px}
.hd-nav .nav-bd{text-align:center;position:relative;border-top:2px solid #8f8f8f}
.hd-nav .nav-list{position:relative;top:-14px;width:690px;margin:0 auto;background-color:#fff}
.hd-nav .nav-list li{float:left;display:inline;width:25%;*width:172px}
.hd-nav .nav-list li a{position:relative;width:auto;height:1.5em;overflow:hidden;display:block;font-size:18px;color:#a5a5a5;text-decoration:none;cursor:pointer}
.hd-nav .nav-list li a span{position:relative;display:block;height:1.5em;top:0;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
.hd-nav .nav-list li a:hover span,.hd-nav .nav-list li a:focus span,.hd-nav .nav-list li.nav-curr a span{color:#3d3a39;top:-1.5em}
.hd-nav .nav-list li.nav-curr a{cursor:default}
.copyright{text-align:center;padding:20px 0 5px 0;color:#a5a5a5}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes la{0%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}
50%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
100%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}
}
@keyframes la{0%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}
50%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
100%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}
}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);-ms-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none}
}
.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}
@-webkit-keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
50%{opacity:1}
100%{opacity:1}
}
@keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);-ms-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
50%{opacity:1}
100%{opacity:1}
}
.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
@-webkit-keyframes zoomInUp{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}
60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}
100%{opacity:1}
}
@keyframes zoomInUp{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);-ms-transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}
60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-ms-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}
100%{opacity:1}
}
.zoomInUp{-webkit-animation-name:zoomInUp;animation-name:zoomInUp}
@-webkit-keyframes zoom{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
50%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}
100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
@-o-keyframes zoom{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
50%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}
100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
@-moz-keyframes zoom{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
50%{-webkit-transform:scale3d(1.1,1.1,1.1);-ms-transform:scale3d(1.1,1.1,1.1);100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
-o-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}
}
@keyframes zoom{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
50%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}
100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
.zoom{animation-name:zoom;-webkit-animation-name:zoom}
@-webkit-keyframes fadeIn{0%{opacity:0}
100%{opacity:1}
}
@keyframes fadeIn{0%{opacity:0}
100%{opacity:1}
}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
html,body{overflow:hidden}
@-webkit-keyframes slideup{from{-webkit-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);-o-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
to{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@-o-keyframes slideup{from{-webkit-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);-o-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
to{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@-moz-keyframes slideup{from{-webkit-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);-o-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
to{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@keyframes slideup{from{-webkit-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);-o-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
to{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
.cover-show{overflow:hidden}
.body{position:absolute;width:100%;height:100%;display:none;zoom:1;z-index:1000}
.view-scroll{overflow:auto}
.cover{position:absolute;width:100%;height:100%;min-height:640px;background:#e8e8e8;z-index:999;overflow:hidden}
.cover-bg{position:fixed;overflow:hidden;width:100%;height:100%}
.cover-bg img{position:relative;width:1600px;margin-left:-800px;left:50%;top:-300px;z-index:-1;-webkit-animation-duration:20s;-o-animation-duration:20s;animation-duration:20s;-webkit-animation-iteration-count:infinite;-o-animation-iteration-count:infinite;animation-iteration-count:infinite}
.cover-fg{position:relative;text-align:center;margin-left:-27px;height:520px}
.cov-fg-box{display:block;position:relative;left:20px;width:72px;margin:0 auto;top:16%;opacity:0;filter:alpha(opacity=0);-webkit-animation-duration:3s;-o-animation-duration:3s;animation-duration:3s}
@media screen and (min-width:1600px){.cover-bg img{width:100%;left:0;margin-left:0}
.cov-fg-box{top:36%}
}
.gl-w1600 .cover-bg img{width:100%;left:0;margin-left:0}
.gl-w1600 .cov-fg-box{top:36%}
.cover-fg .fg-bg{width:50px;height:217px;background:url(http://www.turningbrand.com/image/cov-fg-bg.gif?v=2) 0 0 no-repeat;margin-top:0}
.cover-fg .fg-yue{visibility:hidden;width:65px;height:54px;margin-top:-54px;margin-left:-5px}
.cover-la{position:absolute;z-index:1001;width:100%;top:100%;margin-top:-148px;text-align:center;background:#fff;height:148px}
.cov-la-box{position:relative;text-align:left;top:0;left:0;display:none;margin:0 auto;padding-top:15px;width:58px}
.cover-la .la-logo,.cover-la .la-logo-text,.cover-la .la-btn{position:relative;width:58px;height:46px;left:0;top:0;background:url('http://www.turningbrand.com/image/cov-la.gif?v=2') 0 0 no-repeat;-webkit-transition:all 1.2s;-o-transition:all 1.2s;transition:all 1.2s}
.cover-la .la-logo{width:58px;height:50px;background-position:0 0}
.cover-la .la-logo-text{top:0;left:0;text-indent:-999em;overflow:hidden;height:25px;background-position:0 -50px}
.cover-la .la-btn{width:58px;top:10px;left:0;height:20px;background-position:0 -90px;cursor:pointer;-webkit-animation:la 1s ease-in-out infinite;-o-animation:la 1s ease-in-out infinite;animation:la 1s ease-in-out infinite}
.cover-la .la-logo:hover{-webkit-transform:rotateY(360deg);-ms-transform:rotateY(360deg);-o-transform:rotateY(360deg);transform:rotateY(360deg);-webkit-transition:all .75s;-o-transition:all .75s;transition:all .75s}
.view-scroll .body{display:block;-webkit-animation-name:slideup;-o-animation-name:slideup;animation-name:slideup;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.nicescroll-rails{z-index:10010!important}
.cover-loading .logo{position:relative;width:133px;height:162px;margin:0 auto}
.cover-loading{text-align:center;position:absolute;left:50%;top:50%;margin-left:-150px;margin-top:-100px;width:300px;height:240px;background:#fff url(http://www.turningbrand.com/image/loader.gif) center 100px no-repeat;z-index:999}
.page-show .cover-loading{display:none}
.cover,.body{opacity:0;filter:alpha(opacity=0)}
.page-show .cover,.page-show .body{opacity:1;filter:alpha(opacity=100)}
.board-inner{padding:50px 40px}
.board-nav{position:relative;width:120px;float:left}
.nav-scroll{position:relative;top:0;width:110px;height:370px;overflow:visible;border-right:1px solid #3c3b39}
.bd-nav-list{margin:0;padding:0;width:114px}
.bd-nav-list li{padding-bottom:20px}
.bd-nav-list li a{font-size:18px;color:#8f8f8f;text-decoration:none}
.bd-nav-list li a:hover{text-decoration:underline;color:#3c3b39;-webkit-transition:color .5s;-o-transition:color .5s;transition:color .5s}
.bd-nav-list li.nav-curr a{color:#3c3b39}
.bd-nav-list li.nav-curr{background:url(http://www.turningbrand.com/image/nav-rail.gif) right top no-repeat}
.board-content{float:right;width:750px;background-color:#dfdede;-webkit-transition:background-color .25s;-o-transition:background-color .25s;transition:background-color .25s}
.board-content.cur-l{cursor:url('http://www.turningbrand.com/image/cur-l.png'),auto}
.board-content.cur-r{cursor:url('http://www.turningbrand.com/image/cur-r.png'),auto}
.about-text{font:14px/2 'microsoft yahei',sans-serif;text-indent:2em;color:#3d3a39}
.about-text p{margin-bottom:1em}
