require("./base/reset.css");
require("./base/helpers.css");
require("./hd-w960.css");
require("./board/board-nav.css");
@-webkit-keyframes la {
    0% { -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
    50% { -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    100% { -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
}
@keyframes la {
    0% { -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
    50% { -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    100% { -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
}

.contact-board {
    position: relative;
    overflow: hidden;
}
.contact-board .board-inner {
    color: #3E3A39;
    padding: 0;
    margin: 0;
    width: 980px;
    float: left;
    min-height: 464px;
    _height: 464px;
    font-family: 'Microsoft yahei', sans-serif;
}
.contact-board .board-inner .board-pad {
    padding: 33px 40px;
}
#jobs .board-pad {
    padding-top: 60px;
}
#photo1 .board-pad,
#photo2 .board-pad,
#photo3 .board-pad {
    padding-top: 40px;
}
.contact-board .contact-hd {
    font: bold 18px 'Microsoft yahei';
    margin-bottom: 20px;
}
.contact-board .row .col {
    width: 33.33%;
    float: left;
    font-size: 12px;
}
.contact-board .row .col .col-inner {
    margin-right: 20px;
}
.contact-board .row .col.last .col-inner {
    margin-right: 0;
}
.contact-board .row .col .title {
    font-size: 14px;
    padding: 6px 0;
    margin-bottom: 6px;
    border-bottom: 1px solid #3E3A39;
    font-weight: bold;
}
.contact-board .row .col .job-list {
    line-height: 2;
    margin-bottom: 10px;
}
.contact-board .row .col dt {
    font-weight: bold;
}
.contact-board .see-next {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 30px;
    /*background-color: #dfdede;*/
    left: 0;
    text-align: center;
}
.contact-board .see-next .prev,
.contact-board .see-next .next {
    position: absolute;
    top: -230px;
    right: 12px;
    width: 20px;
    height: 60px;
    cursor: pointer;
    text-indent: -999em;
    overflow: hidden;
    background: url('http://www.turningbrand.com/image/arr-r.png') 0 0 no-repeat;
/*    -webkit-animation: la 1s ease-in-out infinite;
    -o-animation: la 1s ease-in-out infinite;
    animation: la 1s ease-in-out infinite;*/
}
.contact-board .see-next .prev {
    background: url('http://www.turningbrand.com/image/arr-l.png') 0 0 no-repeat;
    left: 12px;
    right: auto;
}
.contact-board .board-view {
    position: relative;
    width: 1960px;
}
.contact-board .map-text {
    position: absolute;
    z-index: -1;
}
.contact-board img.lazy {
    background: url('http://www.turningbrand.com/image/loader.gif') center center no-repeat;
}