body{background-color:#fff;font:14px/1.5 Tahoma,Arial,"微软雅黑","华文细黑","黑体","宋体",sans-serif}
.body{position:relative;background-color:#fff}
.bd-container{width:980px}
.hd{height:230px}
.hd-top{text-align:center}
.hd-top .logo{width:217px;border-top:18px solid #3e3a39;padding:43px 0}
.hd-top .logo a {display: inline-block; *display: inline; *zoom: 1;margin: 0;padding: 0;height: 65px;overflow: hidden;line-height: 1;}
.hd-top .logo img{height:65px}
.board{height:464px;background-color:#dfdede}
.hd-nav {height: 35px;}
.hd-nav .nav-bd {text-align: center;position: relative;border-top: 2px solid #8F8F8F;}
.hd-nav .nav-list {position: relative;top: -14px;width: 690px;margin: 0 auto;background-color: #fff;}
.hd-nav .nav-list li {float: left;display: inline;width: 25%;*width:172px;}
.hd-nav .nav-list li a {position: relative;width: auto;height: 1.5em;overflow: hidden;display: block;font-size: 18px;color: #A5A5A5;text-decoration: none;cursor: pointer;}
.hd-nav .nav-list li a span {position: relative;display: block;height: 1.5em;top: 0;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.hd-nav .nav-list li a:hover span,
.hd-nav .nav-list li a:focus span,
.hd-nav .nav-list li.nav-curr a span {color: #3D3A39;top:-1.5em;}
.hd-nav .nav-list li.nav-curr a{cursor: default;}

.copyright {text-align: center;padding: 20px 0 5px 0;color: #A5A5A5;}
