body {background-color: #fff;font: 14px/1.5 Tahoma,Arial,"微软雅黑","华文细黑","黑体","宋体",sans-serif;}
.body {width: 882px;}
.hd {height: 188px;}
.hd-top {text-align: center;}
.hd-top .logo {width: 187px;border-top: 16px solid #3E3A39;padding: 39px 0;}
.hd-top .logo img {height: 56px;width: 187px;}

.hd-nav {height: 56px;}
.hd-nav .nav-bd {text-align: center;position: relative;border-top: 2px solid #8F8F8F;}
.hd-nav .nav-list {position: relative;top: -14px;width: 621px;margin: 0 auto;background-color: #fff;}
.hd-nav .nav-list li {float: left;display: inline;width: 25%;}
.hd-nav .nav-list li a {height: 1.5em;overflow: hidden;display: block;font-size: 16px;color: #A5A5A5;text-decoration: none;}
.hd-nav .nav-list li a span {position: relative;display: block;height: 1.5em;top: 0;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.hd-nav .nav-list li a:hover span,
.hd-nav .nav-list li a:focus span,
.hd-nav .nav-list li.nav-curr a span {color: #3D3A39;top:-1.5em;}
.hd-nav .nav-list li.nav-curr a{cursor: default;text-shadow: 0 0 1px rgba(0,0,0,0.3);}
.board {height: 418px;background-color: #DFDEDE;}
.copyright {text-align: center;padding: 5px;color: #A5A5A5;}

