/* http://www.menucool.com */

#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}

#sliderFrame 
{
    position:relative;
    width:740px;
    margin: 0 auto; /*center-aligned*/
    height: 370px;
}

#slider, #slider div.sliderInner {
    width:740px;height:336px;/* Must be the same size as the slider images */
    /*border-radius: 6px;*/
}

#slider {
    top: 36px;
	background:#fff url(http://www.turningbrand.com/image/loading.gif) no-repeat 50% 50%;
	position:relative;
    transform: translate3d(0,0,0);
    /*box-shadow: 0px 1px 5px #999999;*/
}

/* the link style (if an image is wrapped in a link) */
#slider a.imgLink, #slider .video {
	z-index:2;
	cursor:pointer;
	position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}
#slider a.video {
	background:transparent url(http://www.turningbrand.com/image/video.png) no-repeat 50% 50%;
}

/* Caption styles */
#slider div.mc-caption-bg, #slider div.mc-caption-bg2 {
	position:absolute;
	width:740px;
	height:auto;
	padding:10px 0;/* 10px will increase the height.*/
    left:0px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	top:-36px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size: 0;
}
#slider div.mc-caption-bg {
    /* NOTE: Its opacity is to be set through the sliderOptions.captionOpacity setting in the js-image-slider.js file.*/
	/*background:#3E3A39;*/
    /* or any other colors such as White, or: background:none; */
	/*border:1px solid white;*/
	/*border-radius: 5px;*/
}
#slider div.mc-caption-bg2 {
    background:none;
}
#slider div.mc-caption {
	font:bold 12px Arial;
	color:#fff;
	z-index:4;
	text-align:left;
    padding-left: 1em;
    background:none;
}
#slider div.mc-caption a {
	color:#FB0;
}
#slider div.mc-caption a:hover {
	color:#DA0;
}


/* ------ built-in navigation bullets wrapper ------*/
/* Note: check themes\2\js-image-slider.css to see how to hide nav bullets */
#slider div.navBulletsWrapper  {
	top:-24px;/* Its position is relative to the #slider */
	text-align:right;
	background:none;
	font-size:0; 
	position:relative;
	z-index:5;
}

/* each bullet */
#slider div.navBulletsWrapper div 
{
    position: relative;
    width:10px; height:10px;
    display:inline-block; *display:inline; zoom:1;
    overflow:hidden;cursor:pointer;
    margin:0 9px;/* set distance between each bullet*/
    /*background: url(/image/circle.png) 0 0 no-repeat;*/
    right: 15px;
}

#slider div.navBulletsWrapper div.active {
    /*background: url(/image/circle.png) -19px 0 no-repeat;*/
}


/* --------- Others ------- */

#slider div.loading 
{
    width:100%; height:100%;
    background:transparent url(http://www.turningbrand.com/image/loading.gif) no-repeat 50% 50%;
    filter: alpha(opacity=60);
    opacity:0.6;
    position:absolute;
    left:0;
    top:0; 
    z-index:9;
}

#slider img, #slider>b, #slider a>b {
	position:absolute; border:none; display:none;
}

#slider div.sliderInner {
	overflow:hidden; 
	-webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/
	position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}

#sliderFrame .arrow {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
    background: url(http://www.turningbrand.com/image/arrow-c.png) 0 0 no-repeat;
}
#sliderFrame .arrow:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
#sliderFrame .arrow-r {
    left: auto;
    right: 10px;
    background-position: -50px 0;
}