html,body{overflow:hidden;}
@-webkit-keyframes slideup {
    from { -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
    to { -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
}
@-o-keyframes slideup {
    from { -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
    to { -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
}
@-moz-keyframes slideup {
    from { -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
    to { -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
}
@keyframes slideup {
    from { -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
    to { -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
}
.cover-show{overflow:hidden;}
.body {position: absolute;width: 100%;height: 100%;display: none;zoom: 1;z-index: 1000;}
.view-scroll{overflow:auto}
.cover{position:absolute;width: 100%;height:100%;min-height: 640px;background:#E8E8E8;z-index: 999;overflow: hidden;}
.cover-bg{position:fixed;overflow:hidden;width:100%;height: 100%;}
.cover-bg img{position:relative;width:1600px;margin-left: -800px;left: 50%;top: -300px;z-index:-1;-webkit-animation-duration:20s;-o-animation-duration:20s;animation-duration:20s;-webkit-animation-iteration-count:infinite;-o-animation-iteration-count:infinite;animation-iteration-count:infinite}
.cover-fg{position:relative;text-align:center;margin-left:-27px;height:520px}
.cov-fg-box{display:block;position:relative;left:20px;width:72px;margin:0 auto;top: 16%;opacity: 0;filter: alpha(opacity=0);
-webkit-animation-duration: 3s;
-o-animation-duration: 3s;
animation-duration: 3s;
}
/*@media screen and (max-width:768px){
	.cover-bg img {width:100%;margin-left:-50%;}
	.cov-fg-box {top: 16%;}
}*/
@media screen and (min-width:1600px){
    .cover-bg img {width:100%;left: 0;margin-left: 0;}
    .cov-fg-box {top: 36%;}
}
.gl-w1600 .cover-bg img {width:100%;left: 0;margin-left: 0;}
.gl-w1600 .cov-fg-box {top: 36%;}

.cover-fg .fg-bg{width:50px;height:217px;background:url(http://www.turningbrand.com/image/cov-fg-bg.gif?v=2) 0 0 no-repeat;margin-top: 0;}
.cover-fg .fg-yue{visibility: hidden;width:65px;height:54px;margin-top:-54px;margin-left:-5px}
.cover-la{position:absolute;z-index: 1001;width: 100%;top: 100%;margin-top: -148px;text-align:center;background:#fff;height:148px;}
.cov-la-box{position: relative;text-align: left;top: 0;left: 0;display:none;margin:0 auto;padding-top:15px;width: 58px;}
.cover-la .la-logo,.cover-la .la-logo-text,.cover-la .la-btn{position: relative;width:58px;height:46px;left: 0;top: 0;
background: url('http://www.turningbrand.com/image/cov-la.gif?v=2') 0 0 no-repeat;
-webkit-transition: all 1.2s;
-o-transition: all 1.2s;
transition: all 1.2s;
}
.cover-la .la-logo{width: 58px;height:50px;background-position: 0 0;}
.cover-la .la-logo-text{top: 0;left: 0;text-indent: -999em;overflow: hidden;height:25px;background-position: 0 -50px;}
.cover-la .la-btn{width: 58px;top:10px;left: 0;height:20px;background-position: 0 -90px;cursor:pointer;-webkit-animation:la 1s ease-in-out infinite;-o-animation:la 1s ease-in-out infinite;animation:la 1s ease-in-out infinite;}
.cover-la .la-logo:hover{-webkit-transform:rotateY(360deg);-ms-transform:rotateY(360deg);-o-transform:rotateY(360deg);transform:rotateY(360deg);-webkit-transition:all .75s;-o-transition:all .75s;transition:all .75s}
.view-scroll .body {
    display: block;
    -webkit-animation-name: slideup;
    -o-animation-name: slideup;
    animation-name: slideup;
    -webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;
}
.nicescroll-rails {z-index: 10010 !important;}

.cover-loading .logo {
    position: relative;
    width: 133px;
    height: 162px;
    margin: 0 auto;
}
.cover-loading {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    width: 300px;
    height: 240px;
    background: #fff url(http://www.turningbrand.com/image/loader.gif) center 100px no-repeat;
    z-index: 999;
}
.page-show .cover-loading {display: none;}
.cover,
.body {
    opacity: 0;
    filter: alpha(opacity=0);
}
.page-show .cover,
.page-show .body {
    opacity: 1;
    filter: alpha(opacity=100);
}