.business-cont {position: relative;width: 740px;background-color: #3E3A39;/*background-color: #DFDEDE;*/}
.business-lb {position: relative;width: 740px;height: 340px;}
.board-content .popup-bg,
.business-lb img {width: 740px;height: 330px;}

.board-content .popup-bg {
    position: absolute;
    background-color: #DFDEDE;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.board-content.board-popup .popup-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.95);
}
.board-popup #sliderFrame {
    background-color: #DFDEDE;
    height:410px;
/*    -webkit-box-shadow: 0px 0px 10px rgb(20,20,20);
    box-shadow: 0px 0px 10px rgb(20,20,20);*/
}
#sliderFrame {
    position: relative;
    margin: 0;
    left: 10px;
    -webkit-transition: margin 0.5s, height 0.5s;
    -o-transition: margin 0.5s, height 0.5s;
    transition: margin 0.5s, height 0.5s;
/*    -webkit-box-shadow: 0px 0px 10px rgb(20,20,20);
    box-shadow: 0px 0px 10px rgb(20,20,20);
    box-shadow: 0px 0px 10px rgb(20,20,20);*/
}
#sliderFrame .arrow {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
    background: url(http://www.turningbrand.com/image/arrow-c.png) 0 0 no-repeat;
}
#sliderFrame .arrow:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
#sliderFrame .arrow-r {
    left: auto;
    right: 10px;
    background-position: -50px 0;
}
.board-popup #slider {box-shadow: none;}

#slider .navBulletsWrapper {display: none;}