body {position: relative;}
.popup-wrapper {
    background-color: #000;
    position: absolute;
    _position: fixed;
    width: 100%;
    height: 100%;
    min-width: 960px;
    min-height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}
.popup-wrapper .flow img.content {
    visibility: hidden;
}
.ContentFlow .flow .item canvas.content {
    background-color: #000;
}
.popup-wrapper .closer {
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    font:normal normal 38px/1 sans-serif;
    border: 1px solid #fff;
    border-width: 0 0 1px 1px;
    color: #fff;
    cursor: pointer;
}
.popup-wrapper .imageflow {
    /*top: -120px;*/
}